<a href="https://colab.research.google.com/github/AnastasiaPlotnikova22/Python-workshop/blob/main/Task40%232.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head

<bound method NDFrame.head of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]>

In [3]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [4]:
df[(df['population'] > 0) & (df['population'] < 500)]['median_house_value'].mean()

206683.83635227982

In [9]:
df[(df['population'] > 0) & (df['population'] < 500)]['median_house_value'].mean().round(2)

206683.84

In [5]:
df[(df['population'] > 0) & (df['population'] < 500)]['median_house_value'].describe()

count      1601.000000
mean     206683.836352
std      131741.091058
min       14999.000000
25%      103300.000000
50%      169500.000000
75%      275000.000000
max      500001.000000
Name: median_house_value, dtype: float64

Задача 42: Узнать какая максимальная households в зоне минимального значения population.

In [6]:
df[df['population'] == df['population'].min()]['households'].max()

4.0